.bonusWorldBg {
 	width: 100vw;
 	height: 0.05vw;
}
.cat.png {
 	width: 15.13671875;
 	height: 16.69921875;
}
.left_8.png {
 	width: 19.04296875;
 	height: 66.11328125;
}
.left_10.png {
 	width: 17.67578125;
 	height: 38.18359375;
}
.left_9.png {
 	width: 16.2109375;
 	height: 50.87890625;
}